@model SchoolManagement.Models.CatData

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CatData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CatID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
